NEXT_PUBLIC_SUPABASE_URL=https://mvkknpjpbdltqkjlcfzf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12a2tucGpwYmRsdHFramxjZnpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwNzEwMzIsImV4cCI6MjA5OTY0NzAzMn0.Md2i8Pf7J2qbKxEeJ74-cAGd1UjAfCnYyXIaEp8Mz24
